.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 10px; /* Petit espace en haut */
  display: flex;
  justify-content: center;
}

.styled-iframe {
  width: 100%;
  max-width: 800px; /* Évite que le formulaire soit trop large sur ordi */
  height: 1500px;    /* Ajuste selon la longueur réelle du formulaire */
  border: none;
  border-radius: 12px; /* Arrondi les angles pour un look moderne */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
}